/*  Estilos Página del Artículo  */

.articlePage__backBtn {
  a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    margin: 1rem;
    padding: 1rem;
  }
}

.articlePage__body {
  margin: 1rem auto;
  padding: 1rem;

  h1 {
    margin: 2rem;
    text-align: center;
    font-size: 3rem;
  }

  h2 {
    text-transform: none;
    text-align: left;
    padding-left: 0;
  }

  h3 {
    margin: 1rem;
  }

  figure {
    width: 55%;
    margin: auto;
    border: 0.1rem solid var(--neutral-color);
    border-radius: 0.2rem;
    padding: 0.5rem;

    img {
      width: 100%;
      margin-bottom: 0.2rem;
      border-radius: 0.2rem;
    }

    figcaption {
      text-align: center;
      background-color: var(--dark-color);
      color: var(--secondary-color);
      border-radius: 0.2rem;
      padding: 1rem;
      font-size: 1.2rem;
      font-weight: bold;
      font-style: italic;
      text-align: center;
    }

    @media (max-width: 60rem) {
      width: 70%;
    }
    @media (max-width: 40rem) {
      width: 100%;
    }
  }
  @media (max-width: 40rem) {
    padding: 0;
  }
}

.articlePage__content {
  margin: 1rem;
  padding: 1rem;
  line-height: 3rem;

  li {
    margin-left: 2rem;
  }

  pre {
    padding: 1rem;
    background-color: var(--console-color);
    margin: 1rem;
    border: 1px solid var(--dark-color);
    border-radius: 0.5rem;
    overflow-x: auto;
    code {
      color: var(--secondary-color);

      text {
        width: auto;
      }
    }
  }

  p {
    img {
      width: 100%;
    }
    @media (max-width: 60rem) {
      text-align: justify;
    }
  }
}

.articlePage__share {
  margin-top: 4rem;
  text-align: center;
  h2 {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: var(--primary-color);
    svg {
      font-size: 2.5rem;
      margin: 2rem;
    }
  }
}

.articlePage__upBtn {
  margin: 2rem;
  text-align: center;

  a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    margin: 1rem;
    padding: 1rem;
  }
}
